<header>
  <h2>
    <img src="/icons/edit.png" alt="edit" height="40px">
    Edit merchant
  </h2>
</header>


<main>

  <form action="/merchants/<%= @merchant.id %>" method="post">
    <label for="merchant-name">
      Enter merchant name:
      <input type="text" id="merchant-name" name="merchant_name" value="<%= @merchant.merchant_name %>" required>
    </label>

    <input type="submit" value="Update">
    <a href="/transactions">Cancel</a>
  </form>

</main>
