<header>
  <h2><img src="/icons/merchant.png" alt="merchant" height="40px"> Merchants</h2>
</header>

<main>
  <div class="merchants header">
    <p>Name</p>
    <p>Edit</p>
    <p>Delete</p>
  </div>

  <% for merchant in @merchants %>
  <div class="merchants">
    <p><%= merchant.merchant_name %></p>
    <p>
      <a href="/merchants/<%= merchant.id %>/edit">
      <img src="/icons/edit.png" alt="edit" height="40px">
      </a>
    </p>
    <form action="/merchants/<%= merchant.id %>/delete" method="post">
      <input type="submit" value="Delete">
    </form>
  </div>

  <% end %>

  <div class="add-back-bttns">
    <p><a href="/merchants/new">Add</a></p>
    <p><a href="/transactions/new">Back</a></p>
  </div>
</main>
