<h2>Add new merchant</h2>

<form action="/merchants" method="post">
  <label for="merchant-name">
    Enter a new merchant:
    <input type="text" id="merchant-name" name="merchant_name" required>
  </label>

  <input type="submit" value="Add">
  <a href="/merchants">Cancel</a>
</form>
