<header>
  <h2><img src="/icons/tag.png" alt="tag" height="40px"> Tags</h2>
</header>

<main>
  <div class="tags header">
    <p>Name</p>
    <p>Edit</p>
    <p>Delete</p>
  </div>

  <% for tag in @tags %>
  <div class="tags">
    <p><%= tag.tag_name %></p>
    <p>
      <a href="/tags/<%= tag.id %>/edit">
      <img src="/icons/edit.png" alt="edit" height="40px">
      </a>
    </p>
    <form action="/tags/<%= tag.id %>/delete" method="post">
      <input type="submit" value="Delete">
    </form>
  </div>

  <% end %>
  <div class="add-back-bttns">
    <p><a href="/tags/new">Add</a></p>
    <p><a href="/transactions/new">Back</a></p>
  </div>
</main>
