<header>
  <h2>
    <img src="/icons/add_outline.png" alt="add" height="40px">
    Add new tag
  </h2>
</header>

<main>

  <form action="/tags" method="POST">
    <label for="tag-name">
      Enter tag name:
      <input type="text" id="tag-name" name="tag_name" required>
    </label>

    <br>
    <br>

    <input type="submit" value="Add">
    <a href="/transactions">Cancel</a>
  </form>

</main>
