<h2>Total spent: £<%= @total %></h2>

<% for transaction in @transactions %>
  <p><%= transaction.tag.tag_name %></p>
  <p><%= transaction.merchant.merchant_name %></p>
  <p>£<%= "%.2f" % transaction.amount %></p>
  <hr />
<% end %>

<a href="/transactions/new">Add new transaction</a>
