<header>
  <h2>
    <img src="/icons/edit.png" alt="edit" height="40px">
    Edit budget
  </h2>
</header>

<main>

  <form action="/budgets/<%= @budget.id %>" method="POST">
    <label for="budget-name">
      Budget name:
      <input type="text" name="budget_name" id="budget-name" value="<%= @budget.budget_name %>" required>
    </label>
    <label for="budget-amount">
      Budget amount: £
      <input type="number" step="0.01" name="budget_amount" id="budget-amount" value="<%= "%.2f" % @budget.budget_amount %>" required>
    </label>
    <label for="warning-limit">
      Set warning limit: £
      <input type="number" step="0.01" name="warning_limit" id="warning-limit" value="<%= "%.2f" % @budget.warning_limit %>" required>
    </label>

    <br>
    <br>

    <input type="submit" value="Update">
    <a href="/transactions">Cancel</a>
  </form>

</main>
