<header>
  <h2>Budgets</h2>
</header>

<main>

  <div class="budgets header">
    <p class="item">Name</p>
    <p class="item">Amount</p>
    <p class="item">Edit</p>
    <p class="item">Delete</p>
  </div>

  <% for budget in @budgets %>

    <div class="budgets">
      <p><%= budget.budget_name %></p>
      <p>£<%= "%.2f" % budget.budget_amount %></p>
      <p><a href="/budgets/<%= budget.id %>/edit">Edit</a></p>
      <form action="/budgets/<%= budget.id %>/delete" method="POST">
        <input type="submit" value="Delete">
      </form>
    </div>
    <hr />

  <% end %>
  <p><a href="/budgets/new">Create a new budget</a></p>
  <p><a href="/transactions">Display all transactions</a></p>
</main>
