<h2>Create new budget</h2>

<form action="/budgets" method="POST">
  <label for="budget-name">
    Budget name:
    <input type="text" name="budget_name" id="budget-name" required>
  </label>
  <label for="budget-amount">
    Budget amount: £
    <input type="number" step="0.01" name="budget_amount" id="budget-amount" required>
  </label>
  <input type="submit" value="Create">
</form>
